input
{
	display:block;
	margin:5px;
	border:0px;
	border-radius:3px;
	width:70%;
}
label
{
	display:block;
	margin:5px;
}

.menuWrapper
{
	float:left;
	height:100%;
	color:#E8DDCB;
	font-family:arial;
	font-size:17px;
	padding-left:25px;
}

.myButton
{
	position:absolute;
	bottom:10px;
	background-color:#033649;
	display:inline-block;
	border-radius:5px;
	cursor:pointer;
	color:#E8DDCB;
	font-family:arial;
	font-size:17px;
	margin:5px;
	padding:8px 15px;
	text-decoration:none;
}

.myButton:hover
{
	color:#CDB380;
}

.myButton:active
{
	background-color:#031634;
}

.optionMenuButton
{
	float:left;
	position:relative;
	left:17%;
	top:40%;
	background-color:#036564;
	display:block;
	border-radius:5px;
	cursor:pointer;
	color:#E8DDCB;
	font-family:arial;
	font-size:18px;
	margin-left:5px;
	padding:9px 17px;
	text-decoration:none;

}

.optionMenuButton:hover
{
	color:#CDB380;
}

.optionMenuButton:active
{

	background-color:#031634;
}

.logoutButton
{
	float:right;
	position:relative;
	right:2%;
	top:40%;
	background-color:#E8DDCB;
	display:block;
	border-radius:5px;
	cursor:pointer;
	color:#036564;
	font-family:arial;
	font-size:19px;
	margin-left:5px;
	padding:5px 13px;
	text-decoration:none;

}
.logoutButton:hover
{
	color:#031634;
}
.logoutButton:active
{
	background-color:#CDB380;
}

.displayMenuButton
{
	float:left;
	position:relative;
	left:1%;
	top:57%;
	background-color:#036564;
	display:block;
	border-radius:5px;
	cursor:pointer;
	color:#E8DDCB;
	font-family:arial;
	font-size:18px;
	margin-left:5px;
	padding:5px 9px;
	text-decoration:none;

}
.displayMenuButton:active
{
	color:#CDB380;
}
.displayMenuButton:hover
{
	background-color:#031634;
}

.disabled
{	
	background-color:#031634;	
}

#cronologia
{
	display:inline-block;
	width:90%;
	height:40%;
	margin:5px;
	font-family:arial;	
	color:#CDB380;
	background-color:#036564;		
	overflow:auto;
	text-align:left;
	padding-left:10px;
}
#errori
{
	display:inline-block;
	width:90%;
	margin:5px;
	height:40%;
	font-family:arial;
	color:#CDB380;
	background-color:#036564;
	overflow:auto;
	text-align:left;
	padding-left:10px;
}

.intestazione
{
	margin:5px;
}
