body
{
	background-color:#031634;

}
input
{
	margin-left:15%;
}
label
{
	margin:10px;
	font-size:20px;
}
.loginBox
{
	position:absolute;
	left:25%;
	top:25%;
	width:50%;
	height:40%;
	font-size:30px;
	background-color:#036564;
	color:#E8DDCB;;
	font-family:arial;
	text-align:center;
}

.loginButton
{
	width:10%;
	height:5%;
}
.error
{
	color:red;
}
