body 
	{
		background-color:LightSkyBlue;
	}
	
.viewer 
	{
		background-color:#F8F8FF; 
		border-style: solid; 
		border-width: medium; 
		margin: 20px 180px 20px 180px;
		height:700px;
		width:900px;
	}
.terminal
	{
		background-color:#F8F8FF;
		border-style: solid;
		border-width: medium;
		margin: 20px 180px 20px 180px ;
		height: 200px;
		width:  900px;
	}
