.tableView
{
	font-family:arial;	
}
.tableView th
{
	position:relative;
	font-size:18px;
	color:#E8DDCB;
	background-color:#036564;
}

.tableView td
{
	text-align:center;
	background-color:#E8DDCB;
	color:#031634;
	font-family:arial;
	max-height:80px;
	
}

.tableView .alternative
{
	background-color:#CDB380;
}

table
{
	width:100%;
}
tbody thead
{
	width:100%;
	display:block;
}

.visualPanel
{
	overflow:auto;
}

#statistiche
{	
	color:#E8DDCB;
	text-align:center;
}
